@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Search Available Positions", "Index", "Position/Index")
    @Html.ActionLink("Applied Positions", "Index", "Position/Index")
    @Html.ActionLink("Scheduled Interviews", "Index", "Interview/Index")
    @Html.ActionLink("Profile", "Index", "User/Index")


</p>




