@model Team14_Final_Project.Models.Application

@{
    ViewBag.Title = "Position Requirements Not Met";
}

<h2>Error</h2>


<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    This is an alert box.
</div>

<h2>     </h2>
<h2>     </h2>
<h2>Position Requirements Not Met</h2>
<h2>     </h2>
<h2>     </h2>
<h2>     </h2>

<div>
    @Html.ActionLink("Back to Application", "Apply")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

