@model Team14_Final_Project.Models.CSO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CSO</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CSOID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
